.task{
    background-color: white;
}

input[type="radio"] {
    margin-top: -3px;
    vertical-align: middle;
}

.task-heading{
    font-weight: bold;
}

#backhouseimg {
    font-weight: bold;
}
textarea {
    resize: none;
}

.task-area-comment{
    width: 500px;
    height: 50px;
}

th {
    text-align: left;
}

.score{
    text-align: right;
}

#main_logo{
    float: right;
}

#inner_element{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px; 
}

body{
    background-color: #3385ff;
}

#inner_form_element{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;

    margin-top: 25px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

fieldset{
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
    min-width: 0;
    width: 75%;

}

header#form_header{
    background-color: #3385ff;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
    text-align: center;
}




legend{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

input{
    margin-bottom: 1px;
    margin-right: 1px;
}

#submission_element{
    background-color: white;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 30%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 25%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

#image_submit_element{
    background-color: white;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40%;
    padding-top: 10%;
    padding-bottom: 30%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: xx-large;
}

#uploadfile, #submit{
    font-size: xx-large;
    padding: 5%;
}



.link_button{
    width: 75%;
    text-align: center;

}

.form_task_wrapper{
    padding: 4px 4px 0 0;
}

.task{
    padding: 10px 10px 0 0; 
}

.task-area-comment{
    width: 100%;
}

#main_logo{
    max-width: 100%;
    max-height: 100%;
}